.header a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: navy;
  background-image: url('../../assets/header.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.header h1 {
  padding: 20px 0;
}